* {
    margin: 0;
    box-sizing: border-box;
}
:root{
 font-size: 62.5%;
}
/* This part refers to the text underneath the image saying "Aprendendo CSS" */
h1 {
    font-size: 80px;
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #f900e2;
}
/* This part refers to the main image and its background on the webiste */
.bg {
 position:relative;
 height: 100vh;
 width: 100vw;
 background-color: #555;
 background-image: url('https://cdn.mobygames.com/covers/2971216-mary-skelter-nightmares-ps-vita-front-cover.jpg');
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment:local;
}
/* This part refers to the wall of text underneath the link on the website */
p {
    font-size: 7.5rem;
    font-family: 'Times New Roman', Times, serif;
}
/* This part refers solely to the customization of the link Limbus Company underneath the main image of the website */
a {
    font-size: 4.5rem;
}
a:visited{
    color: red;
}

a:hover{
    color: powderblue;
}
/* This part is the configurations of the table Tabela */
.tabela td, .tabela th, .tabela {
    border: 1px solid black;
}

.tabela tr:first-child{
    background-color: slategrey;
    color: white;
}

.tabela tr:nth-child(2n + 3){
    background-color: rgb(255, 86, 80);
}

.tabela{
    font-size: 6rem;
    border-collapse: separate;
}
/* This part is about the configurations of the desorganizado and liJo lists */

.desorganizado, .liJo {
    font-size: 5rem;
    padding-left: 6rem;
}

.menu {
    top: 0px;
    position:sticky;
    background-color: aliceblue;
    border: 1rem solid blueviolet;
    border-radius: 0.4rem;
    width: 100%;
    height: 16rem;
    z-index: 1;
}

.menu li {
    list-style:circle;
    margin: 1rem;
    text-align: center;
}
/* This part is the configuration of the box between lists */

.boxes{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content: center;
    
}

.box {
    min-height: 10rem;
    min-width: 20rem;
    border: 2rem solid violet;
    padding: 1.5rem;
    margin: 0.5rem;
    background-color: springgreen;
    color:white;
    font-size: 6rem;
    border-radius: 1rem;
    text-align: center;
    display: inline-block;
    flex-basis: 50%;
    order:3
}
.box:nth-child(1){
    order:1;
}

.box:nth-child(4){
    order:2;
}

[data-company ="GCO"]{
    background-color: cornflowerblue;
}
/* This part refers to the configuration of the differences when printing the image */
@media print {
    .boxes {
        display: none;
    }
    .menu{
        display: static;
        position: static;
    }
    .bg{
        display: none;
    }
}

/* This part refers to the configuration of the button Mary Skelter Merch */
@keyframes bmerch {
        0%{
            background-color:#f900FC;
        }

        100%{
            background-color:#83f7ff
        }
}
[data-botao="produto"]{
    background:#f900FC;
    font-size: 4rem;
    text-align: center;
    border: 0.3rem solid black;
    cursor:pointer;
    padding: 1rem 0.6em;
    transition: .18s ease-in-out, background-color .5s ease-in-out;
    margin: auto;
    display: block;
}

[data-botao="produto"]:hover{
    color: #29ffe2;
    transform: scale(1.03);
    background-color:firebrick
}