* {
    margin: 0;
}

:root{
 font-size: 62.5%;
}

h1 {
    font-size: 80px;
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #f900e2;
}

.bg {
 height: 100vh;
 width: 100%;
 background-color: #555;
 background-image: url('https://cdn.mobygames.com/covers/2971216-mary-skelter-nightmares-ps-vita-front-cover.jpg');
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment:fixed;
}

p {
    font-size: 7.5rem;
    font-family: 'Times New Roman', Times, serif;
}
a {
    font-size: 4.5rem;
}
a:visited{
    color: red;
}

a:hover{
    color: powderblue;
}